<!DOCTYPE html>
<html>
<head><title>Attendees</title></head>
<body>
    <h1>Attendee List</h1>
    <a href="{% url 'create_attendee' %}">Add Attendee</a>
    <ul>
        {% for attendee in attendees %}
            <li>{{ attendee.name }} - {{ attendee.email }} (Event: {{ attendee.event.title }})
                [<a href="{% url 'delete_attendee' attendee.pk %}">Delete</a>]
            </li>
        {% empty %}
            <li>No attendees yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'event_list' %}">Back to Events</a>
</body>
</html>
